<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="Lesson"></ion-icon>
    </button>
    <ion-title>Exercises</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngFor="let exercise of exercises">
    <div> Exercise : {{exercise.exerciseName}} </div>
    <div> Question : {{exercise.question}} </div>
    <ul *ngFor = "let answer of exercise.possibleAnswers">
     <ion-card>
      <ion-list radio-group [(ngModel)]="answ">
       <ion-item> 
         
          <ion-label>{{answer}}</ion-label>
          <ion-radio value="{{answer}}"></ion-radio>
         
        </ion-item>
      </ion-list>
     </ion-card>
     </ul>
     <ion-card>
       <button ion-button round outline (click)="respondToAnswer(exercise,answ)">Confirmation</button>
     </ion-card>
  </div>

</ion-content>
